.container {
  height: 100%;
  display: grid;
  place-items: center;
  background-color: var(--bg-components);
  p {
    color: var(--font-text-color);
  }
}

.updateForm {
  border: 1px solid rgba(58, 56, 56, 0.411);
  background-color: var(--bg-components);
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 400px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  label {
    color: var(--font-text-color);
  }
  input {
    border: 1px solid rgba(128, 128, 128, 0.39);
    width: 40%;
    height: 20px;
    background-color: var(--bg-buttons);
    color: var(--font-text-color);
    outline: none;
  }
  #button {
    width: 15%;
    height: 1.5rem;
    border-radius: 5px;
  }
  #button:hover {
    background-color: var(--hover);
    cursor: pointer;
  }
}
#message {
  color: rgba(7, 219, 7, 0.979);
  font-weight: 600;
}
#error {
  color: rgb(247, 18, 18);
  font-weight: 600;
}
#profileLink {
  border: 1px solid #323232;
  position: absolute;
  top: 8rem;
  right: 22rem;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--font-text-color);
  /* align-content: center; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  transition: all 0.3s ease-in-out;
}
#profileLink:hover {
  background-color: var(--hover);

  svg {
    transform: translateX(-10px);
    transition: all 0.3s ease-in-out;
  }
}
