.content {
  position: absolute;
  width: 94%;
  height: 35rem;
  top: 60px;
  right: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  background-color: var(--bg-components);
  justify-content: space-between;
}
.contentOpen {
  position: absolute;
  width: 86.5%;
  top: 60px;
  right: 0;
  transition: all 0.5s ease-in-out;
  background-color: var(--bg-components);
  display: flex;
  height: 35rem;
  overflow-y: hidden;
  justify-content: space-between;
  p {
    display: flex;
    gap: 2rem;
    color: var(--font-text-color);

    align-items: center;
  }
}
.infoVideo {
  width: 70%;
}
.circle {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
}
.content p {
  display: flex;
  gap: 2rem;
  color: var(--font-text-color);
  align-items: center;
}

.menuContiner {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  right: 0;
  max-width: 80rem;
  height: 25px;
  background-color: var(--bg-components);
  z-index: 9;
  transition: all 0.5s ease-in-out;
}
.buttonFilters {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  gap: 0.5rem;
  align-items: center;
  scroll-behavior: smooth;
  button {
    flex: 0 0 auto;
    border: 1px solid gray;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    border-radius: 5px;
    background-color: var(--bg-buttons);
    color: var(--font-text-color);
    cursor: pointer;
  }
  .btnFilts:active {
    color: blanchedalmond;
    background-color: rgb(58, 56, 56);
  }
}
.buttonFilters::-webkit-scrollbar {
  display: none;
}
.menuContiner::-webkit-scrollbar {
  display: none;
}

.arrowBack {
  position: absolute;
  background: var(--gradient-b);
  cursor: pointer;
  height: 25px;
  width: 30px;
  color: gray;
}
.arrowBackHiden {
  display: none;
}
.arrowFoward {
  position: absolute;
  right: 0;
  background: var(--gradient-f);
  cursor: pointer;
  height: 25px;
  width: 30px;
  color: gray;
}
.arrowFowardHiden {
  display: none;
}
.contentResult {
  width: 29%;
}
.card {
  margin-bottom: 10px;
}
.results {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}
.userSection {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-around;
  color: var(--font-text-color);
  button {
    background-color: var(--bg-buttons);
    color: var(--font-text-color);
    border: 1px solid rgba(128, 128, 128, 0.582);
    outline: none;
    padding: 2px 5px;
    border-radius: 5px;
  }
  button:hover {
    background-color: var(--hover);
    cursor: pointer;
  }
}
